<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mydailystudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity
            android:name=".mvp.view.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".mvp.view.activity.SystemDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".mvp.view.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".mvp.view.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".mvp.view.activity.MyCollectedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".mvp.view.activity.MyTodoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.view.activity.MyDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".mvp.view.activity.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>